.registration {
	padding: 20px;
}
.registration input[type="text"],.registration input[type="password"],.registration input[type="email"] {
	width: 100%;
	border: 1px solid #CCC;
	padding: 3px;
	font-size: 1em;
	color: #777;
	border-radius: 3px;
}
.registration input[type="text"].error, .registration input[type="password"].error, .registration input[type="email"].error {
	outline-color: #E66;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
.registration input[type="text"].ok, .registration input[type="password"].ok, .registration input[type="email"].ok {
	outline-color: #3A3;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
.registration .left {
	float: left;
	clear: left;
	font-size: 1.04em;
	padding: 5px 0;
	width:150px;
}
.registration .right {
	width: 250px;
	float: left;
}