RewriteEngine On
RewriteCond %{REQUEST_URI} !^/(admin.*)$
RewriteRule ^index\.html index.php [L]
RewriteRule ^backup/(.*)\.zip$ index.php?adm=backup&bak=$1 [L]
RewriteRule ^com_(.*)\.html$ index.php?com=$1 [QSA]
RewriteRule ^zone_(.*)\.html$ index.php?zone=$1 [QSA]
RewriteRule ^profile/(.*).html$ index.php?zone=profile&user=$1 [QSA]
RewriteRule ^com/([^/]+)/([^/]+)/([0-9]+)-(.*)\.html$ index.php?com=$1&$2=$3 [QSA]
RewriteRule ^com/([^/]+)/([^/]+)/(.*)\.html$ index.php?com=$1&$2=$3 [QSA]
RewriteRule ^com/([^/]+)/([^/]+)/$ index.php?com=$1&$2= [QSA]
RewriteRule ^com/([^/]+)/(.*).html$ index.php?com=$1&$2= [QSA]
RewriteRule ^([^/]+)/$ index.php?lang=$1 [L]
RewriteRule ^([^/]+)/index\.html index.php?lang=$1 [L]
RewriteRule ^([^/]+)/com_(.*)\.html$ index.php?lang=$1&com=$2 [QSA]
RewriteRule ^([^/]+)/zone_(.*)\.html$ index.php?lang=$1&zone=$2 [QSA]
RewriteRule ^([^/]+)/([^/]+)\.htm$ index.php?lang=$1&page=$2 [QSA]
RewriteRule ^it-IT/(.*) $1 [QSA]
RewriteRule ^en-US/(.*) $1 [QSA]
RewriteRule ^([^/]+)\.htm$ index.php?page=$1 [QSA]
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/atom_xml
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-httpd-php
AddOutputFilterByType DEFLATE application/x-httpd-fastphp
AddOutputFilterByType DEFLATE application/x-httpd-eruby
AddOutputFilterByType DEFLATE image/svg+xml
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE

<IfModule mod_setenvif.c>
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI .(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI .(?:avi|mov|mp3|mp4|rm|flv|swf|mp?g)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI .pdf$ no-gzip dont-vary
</IfModule>

<IfModule mod_headers.c>
Header append Vary User-Agent env=!dont-vary
</IfModule>
</IfModule>