.fp_cart h2{
	font-size: 1.3em;
	color: #722;
	font-family: sans-serif;
	padding: 10px;
}
.fp_cart .information {
	background: #FFD;
	opacity: 0.9;
	padding: 10px;
	margin: 0;
}
.fp_cart_prod {
	left: 1.25%;
	height: 110px;
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #CB6;
	width: 95%;
	background: rgba(255,255,255,0.7)
}
.fp_cart_prod .fp_cart_img{
	position: absolute;
	display: block;
	left: 10px;
	top: 10px;
	height: 110px;
	width: 110px;
	background-size: contain;
	text-decoration: none;
	background-position: center center;
	background-repeat: no-repeat;
}
.fp_cart_prod .fp_cart_name{
	position: absolute;
	left: 150px;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bolder;
	color: #E66;
	top: 15px;
}
.fp_cart_prod .fp_cart_price{
	position: absolute;
	right: 100px;
	color: #C33;
	font-weight: bolder;
	font-family: sans-serif;
	font-size: 1.2em;
	width: 60px;
	top: 15px;
}
.fp_cart_prod .fp_cart_q{
	width: 30px;
	position: absolute;
	right: 30px;
	top: 15px;
	text-align: center;
}
.fp_cart_prod .fp_cart_actions{
	position: absolute;
	bottom: 10px;
	left: 150px;
}
.fp_cart_prod .fp_cart_actions a{
	text-decoration: none;
	color: #F44;
	cursor: pointer;
}
.fp_cart_tot {
	text-align: right;
	padding: 0px 30px;
	font-size: 1.1em;
	color: #C33;
	font-weight: bolder;
	font-family: sans-serif;
}
.fp_update {
	position: absolute;
	width: 80px;
	right: 6px;
	top: 45px;
	text-decoration: none;
	color: #F44;
	cursor: pointer;
	text-align: center;
}
h3,p {
	padding: 0 1em;
	color: #A22;
}