<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<ALE:TEMPLATE/>style.css" />
		<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>	
		<ALE::HEAD/>
		<script type="text/javascript" src="<ALE:TEMPLATE/>script.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<a href="<ALE:HOME/>index.html"><span class="title_text">TradizioneSarda.it</span>
				</a>							
				<ALE::MENU name="header"/>
				<nav>
					<ul>
						<ALE::MENU name="top"/>
					</ul>
				</nav>
			</header>
			<div class="main">
				<div class="banner"><ALE::MENU name="slider"/></div>
				<div class="second_wrapper">
					<div class="page">
						<ALE::PAGE/>
					</div>
					<div class="menu_r">
						<ALE::MENU name="right"/>
					</div>
				</div>
			</div>
			<footer>
				<ALE::MENU name="footer"/>
			</footer>
		</div>
	</body>
</html>