<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<ALE:TEMPLATE/>style.css" />
		<ALE::HEAD/>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<span class="logo"><ALE::LOGO/></span>
				<div class="cerca">
					<input type="text" />
				</div>
				<nav>
					<ul>
						<ALE::MENU name="top"/>
					</ul>
				</nav>
			</header>
			<div class="main">
				<div class="banner"><ALE::MENU name="slider"/></div>
				<div class="second_wrapper">
					<div class="page">
						<ALE::PAGE/>
					</div>
					<div class="menu_r">
						<ALE::MENU name="right"/>
					</div>
				</div>
			</div>
			<footer>
			</footer>
		</div>
	</body>
</html>