@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 700;
  src: local('Tangerine Bold'), local('Tangerine-Bold'), url(http://themes.googleusercontent.com/static/fonts/tangerine/v3/UkFsr-RwJB_d2l9fIWsx3nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
body {
	background-image: url('images/oliveoil.jpg'),url('images/manipasta41.jpg'),url('images/2.41.jpg'),url('images/2.41.png');
	color: #777;
	background-size: 384px,271px,1383px,1383px;
	background-repeat: no-repeat,no-repeat,no-repeat;
	background-position: -10% 836px, 106% 857px,center 0px,center 0px;
}
.wrapper {
	width: 950px;
	position: relative;
	left: 50%;
	margin-left: -475px;
}
header {
	height: 270px;
	position: relative;
}
header .cerca {
	position: absolute;
	right: 20px;
	top: 87px;
}
header .cerca input[type="text"] {
	padding: 3px;
	border: 1px solid #EEE;
	font-size: 16px;
	color: #888;
	width: 330px;
	background: #EBEBEB url("images/lens.png") no-repeat;
	background-position: 98% 2px;
	background-size: 6%;
}
header .logo {
	display: block;
	width: 500px;
	height: 125px;
	margin-left: -50px;
	background: url(images/logo.png), url(images/titolo5.png);
	background-repeat: no-repeat;
	background-position: 0 0, 128px 34px;
	background-size: 120px 120px,370px 0px;
	margin-top: 29px;
}
header nav {
	position: absolute;
	bottom: 0;
	padding: 4px 2px;
	background: #F77820;
	width: 100%;
	margin-left: -3px;
	height: 26px;
}
header nav:before {
	content: " ";
	display: block;
	height: 68px;
	width: 20px;
	background: -webkit-linear-gradient(270deg, #F77820 50%,transparent 33%) 0 0%, transparent -webkit-linear-gradient(225deg, #C74810 62%, transparent 33%) 0 0%;
	position: absolute;
	top: 0;
	left: -17px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display:block;
}
header nav li {
	float: left;
	border-right: 1px solid #FF9830;
	padding: 3px 20px;
	min-width: 100px;
	text-align: center;
	color: #722;
	cursor: pointer;
	font-weight: bold;
	/*text-shadow: -1px -1px 0px #FFF;*/
}
.main {
	position: relative;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #CECE68;
	background: #FEFE92;
	padding-top:1px;
}
.main .banner {
	height: 290px;
	overflow: hidden;
	margin: 10px;
}
.second_wrapper {
	display: table;
	min-height: 700px;
}
.main .page {
	width: 815px;
	display: table-cell;
	background: url(images/sard.png);
	background-repeat: no-repeat; 
	background-position: right;
	margin-right: 200px; 
	padding: 15px;
}
.main .menu_r {
	width: 250px;
	display: table-cell;
	border-left: 1px solid #EB2;
	vertical-align: top;
}
.page .list {
	margin: 12px -15px 30px -15px;
	padding: 0;
	overflow-y: hidden;
}
.page .list li {
	display: block;
	position: relative;
	background: rgba(255,255,255,0.6);
	overflow: hidden;
}
.page .list-title {
	background: #F77820;
	padding: 5px 2px;
	font-size: 16px;
	color: #722;
	position: relative;
	font-weight: bold;
	margin: -15px;
	margin-bottom: 15px;
}
.page .list-title.with-sardinia {
	background-image: url(images/Sardegna_Carta2.png);
	background-position: 363px -188px;
	background-repeat: no-repeat;
}
.page .list-title:before {
	content: " ";
	display: block;
	height: 60px;
	width: 20px;
	background: -webkit-linear-gradient(270deg, #F77820 50%,transparent 33%) 0 0%, transparent -webkit-linear-gradient(225deg, #C74810 62%, transparent 33%) 0 0%;
	position: absolute;
	top: 0;
	left: -20px;
}
ul.list li {
	padding: 10px;
	width: 150px;
	float: left;
	height: 170px;
	margin: 10px 0;
	border-left: 1px solid #ED8;
}
ul.list li.first {
	margin-left:20px;
	border-left:0;
}
.page ul li .image {
	width: 150px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.page ul li .title {
	font-weight: bold;
	display: block;
	height: 35px;
	padding: 3px;
	color: #944;
	text-align: center;
	margin-top: 10px;
}
.recipes a{
	text-decoration: none;
}
.page ul li .price {
	position: absolute;
	right: 10px;
	font-weight: bolder;
	color: #F88;
	font-size: 19px;
}
.page ol.list li {
	width: 120px;
	height: 160px;
	float: left;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ED8;
	overflow:hidden;
}
.page ol li .image {
	height: 80px;
	margin-top: 5px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.page .list li .image .sale {
	color: #FFF;
	background: #D55;
	font-weight: bolder;
	font-size: 0.8em;
	padding: 3px 0;
	-webkit-transform: rotate(30deg);
	display: block;
	width: 100px;
	text-align: center;
	position: absolute;
	right: -25px;
	top: 5px;
}
.page ol li .title {
	font-weight: bold;
	color: #944;
}
.page ol li .desc {
	display: block;
	font-size: 0.7em;
	position: absolute;
	bottom: 10px;
	height: 30px;
	color: #944;
	width: 70%;
	overflow: hidden;
}
.page ol li .price {
	font-weight: bold;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #F55;
}
.menu_r .list-title {
	background: #F77820;
	padding: 5px 2px;
	color: #722;
	padding-left: 10px;
	margin-bottom: 6px;
	position: relative;
	font-weight: bold;
}
.menu_r .list-title:before {
	content: " ";
	display: block;
	height: 60px;
	width: 20px;
	background: -webkit-linear-gradient(270deg, #F77820 50%,transparent 33%) 0 0%, transparent -webkit-linear-gradient(315deg, #C74810 62%, transparent 33%) 0 0%;
	position: absolute;
	top: 0;
	right: -20px;
}
.menu_r nav li {
	font-size: 0.9em;
	margin: 3px 0px 0 10px;
}
.menu_r nav li:before {
	content: ">";
	margin-right : 6px;
	color: #611;
	font-weight: bold;
	font-size:1em;
}
.page ol.list {
	padding-left: 39px;
}
footer {
	border: 1px solid #CECE68;
	height: 100px;
	border-top-color: #EB2;
	margin-bottom: 60px;
	background: #FEFE92;
}
header nav li a {
	color: #722;
	text-decoration: none;
}
.menu_r nav li a {
	color: #722;
	text-decoration: none;
}
li.cart {
	float: right;
	border-left: 1px solid #FF9830;
	position:relative;
	height: 30px;
}
.nivo-directionNav,.nivo-controlNav {
	display:none;
}
header .langs {
	position:absolute;
	left: 20px;
	top: 160px;
}
.langs a{
	display:block;
	float:left;
	width:28px;
	height:20px;
	background-size:100%;
	-moz-background-size:100%;
}
.langs .it{
	background-image:url(images/it.png);
}
.langs .en{
	background-image:url(images/en.png);
}
.page .list li .id {
	display:none;
}
.title_text {
	font-family: 'Tangerine', cursive;
	font-size: 80px;
	color: #F77820;
	position: absolute;
	top: 56px;
	left: 12px;
	font-weight: bolder;
	text-shadow: 1px 1px 5px #AAA;
}
#cart_button{
	background-image: url("http://tradizionesarda.it///media/images/cart.png");
	background-repeat: no-repeat;
	background-size: 19%;
	background-position: 7px 1px;
	padding-left: 29px;
	padding-bottom: 0px;
}